.overlay {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.box {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-between;
  padding: 40px;
  width: 410px;
}

.message {
  font-size: 28px;
}

.buttons {
  display: flex;
  justify-content: right;
}

.buttons button {
  font-size: 20px;
  margin: 0 20px;
}
