<div class="overlay" *ngIf="notice.message">
  <div class="box">
    <p class="message">{{ notice.message }}</p>
    <div class="buttons">
      <button *ngIf="notice.fn1" (click)="notice.fn1()">
        {{ notice.button1 }}
      </button>
      <button *ngIf="notice.fn2" (click)="notice.fn2()">
        {{ notice.button2 }}
      </button>
    </div>
  </div>
</div>