<div [class.header]="loggedIn" [class.title]="!loggedIn">
    <h1 class="logo">stockr</h1>
    <sr-login class="login"
      (loggedIn)="onAuthChange($event)"
    ></sr-login>
</div>

<div *ngIf="loggedIn" class="main">
    <div class="nav">
        <sr-stock (invest)="onInvest($event)"></sr-stock>
    </div>

    <div class="content">
        <sr-portfolio (error)="onMessage($event)"></sr-portfolio>
    </div>
</div>

<sr-notice></sr-notice>