.header, .title {
    display: flex;
}

.logo {
    font-weight: 100;
}

.title {
    flex-direction: column;
}

.title .logo {
    color: darkgreen;
    display: block;
    font-size: 200px;
    margin: 120px 0 0 0;
    text-align: center;
    width: 100%;
}

.header {
    background-color: darkgreen;
    flex-direction: row;
    line-height: 60px;
    justify-content: space-between;
}

.header .logo {
    color: #fafafa;
    font-size: 40px;
    margin: 20px;
    width: 200px;
}

.login {
    text-align: center;
}

.header .login {
    line-height: 60px;
    margin: 20px;
}

.nav {
    background-color: #eaeaea;
    padding: 60px 40px 0 40px;
    width: 400px;
}

.main {
    display: flex;
    flex-direction: row;
    min-height: calc(100% - 100px);
}

.content {
    flex-grow: 2;
    padding: 60px 40px 0 40px;
}