<div class="header">
  <h2 class="title">My Portfolios</h2>
  <button *ngIf="!editing || editing.id" (click)="onCreate()">
      New Portfolio
    </button>
    <form *ngIf="editing && !editing.id">
      <input
        type="text" 
        name="name" 
        placeholder="Name" 
        [(ngModel)]="editing.name" />
      <button type="submit" (click)="onCreateSubmit()">Save</button>
      <button (click)="onCancel()">Cancel</button>
    </form>
</div>

<ul class="portfolios">
  <li *ngFor="let p of portfolios.data">
    <div class="name">
      <div *ngIf="!editing || !editing.id || editing.id != p.id">
        <span class="display-name">{{ p.name }}</span>
        <span>
          <button (click)="onEdit(p)">Edit</button>
          <button (click)="onDelete(p)">Delete</button>
        </span>
      </div>
      <form *ngIf="editing && editing.id && editing.id == p.id">
        <input
          type="text"
          name="name"
          placeholder="Name" 
          [(ngModel)]="editing.name" />
        <span>
          <button type="submit" (click)="onEditSubmit()">Save</button>
          <button (click)="onCancel()">Cancel</button>
        </span>
      </form>
    </div>
    <table class="investments">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Strike</th>
          <th>Total Investment</th>
          <th>Current Value</th>
        </tr>
      </thead>
      <tbody class="data">
        <tr *ngFor="let i of p.investments">
          <td>{{ i.symbol }}</td>
          <td>{{ i.shares | number : '.3-3' }}</td>
          <td>{{ i.strike | currency : 'USD' : true }}</td>
          <td>{{ i.strike * i.shares | currency : 'USD' : true }}</td>
          <td>
            <span *ngIf="i.bid">
              {{ i.bid * i.shares | currency : 'USD' : true }}
            </span>
            <span *ngIf="!i.bid">
              <button 
                (click)="onProfit(i)" 
                [disabled]="waitingOn(i)">
                Calculate
              </button>
              <span class="spinner" *ngIf="waitingOn(i)"></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
