.title {
    color: darkgreen;
    font-size: 42px;
    font-weight: 100;
    margin: 0;
}

.portfolios {
    list-style-type: none;
    margin: 40px 0;
    padding: 0;
}

.portfolios li {
    padding: 0 20px;
}

.portfolios li:nth-child(odd) {
    background-color: #fafafa;
}

.name div {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.name form {
    padding: 10px 0;
    width: 100%;
}

.name form span {
    float: right;
}

.investments {
    width: 100%;
    table-layout: fixed;
}

.investments td:nth-child(1) {
    text-transform: uppercase;
}

.spinner {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.display-name {
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}