<input
  type="text"
  name="search"
  class="search"
  placeholder="Search by Ticker Symbol"
  [formControl]="search" />
<div *ngIf="waiting" class="spinner"></div>
<p *ngIf="notFound" class="error">Not found.</p>
<div *ngIf="stock">
    <table class="info">
        <thead>
            <tr>
                <th>Bid</th>
                <th>High</th>
                <th>Low</th>
            </tr>
        </thead>
        <tbody class="data">
            <tr>
                <td>{{ stock.bid | currency : 'USD' : true }}</td>
                <td>{{ stock.high | currency : 'USD' : true }}</td>
                <td>{{ stock.low | currency : 'USD' : true }}</td>
            </tr>
        </tbody>
    </table>
    <form class="invest">
        <input type="number" 
            name="amount" 
            class="amount"
            step="0.01"
            placeholder="Investment Amount" 
            [(ngModel)]="amount" />
        <p><span class="data">{{ shares | number : '.3-3' }}</span> shares</p>
        <select name="pid" [(ngModel)]="pid" class="portfolio">
            <option *ngFor="let p of portfolios.data" [ngValue]="p.id">
                {{ p.name }}
            </option>
        </select>
        <button type="submit" (click)="onInvest()">Invest</button>
    </form>
</div>