.search, .amount {
    border: none;
    padding: 0 10px;
    width: calc(100% - 20px);
}

.search {
    color: darkgreen;
    font-size: 24px;
    line-height: 50px;
}

.info {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.info thead {
    font-size: 18px;
}

.invest {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    width: 100%;
}

.amount {
    font-family: 'IBM Plex Mono Light', monospace;
    font-size: 18px;
    line-height: 40px
}

.invest p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.portfolio {
    font-size: 18px;
    padding: 10px;
}

.invest button {
    bottom: 0;
    font-size: 20px;
    position: absolute;
    right: 0;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 60px auto;
}

.error {
    font-size: 24px;
    text-align: center;
}