@font-face {
    font-family: 'IBM Plex Sans Light';
    src: url('./assets/IBMPlexSans-Light-Latin1.woff2');
}

@font-face {
    font-family: 'IBM Plex Mono Light';
    src: url('./assets/IBMPlexMono-Light-Latin1.woff2');
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'IBM Plex Sans Light', sans-serif;
}

button, input[type="submit"] {
    cursor: pointer;
}

.data {
    color: darkgreen;
    font-family: 'IBM Plex Mono Light', monospace;
    font-weight: normal;
}

.spinner {
    background-image: url('./assets/spinner.gif');
    background-size: cover;
}