.credentials {
    display: inline-flex;
    flex-direction: column;
    font-size: 16px;
    padding-bottom: 40px;
    position: relative;
    width: 33%;
}

.credentials input[type="email"], .credentials input[type="password"] {
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.credentials button {
    font-size: 30px;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
}

.logout {
    font-size: 20px;
}