<form *ngIf="!api.loggedIn" class="credentials">
    <input
        [(ngModel)]="creds.email"
        type="email"
        name="email"
        placeholder="E-Mail" />
    <input
        [(ngModel)]="creds.password"
        type="password"
        name="password"
        placeholder="Password" />
    <button type="submit" (click)="login()">Login</button>
</form>
<button *ngIf="api.loggedIn" (click)="logout()" class="logout">Log Out</button>